@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$family-serif: "Inconsolata", "Arial", serif;
$notification-radius: 0px;
$body-background-color: hsl(0, 0%, 96%);

@import "../../node_modules/bulma/bulma";
@import "common";

$font-stack: 'Inconsolata', 'Arial', sans-serif;

body,
html {
  @include full-height;
  @include margin(0px);
  font-family: $font-stack;
}

#tabs {
  height: inherit;
}

#ethereum-ticker {
  @include flex;
  @include full-height;
}

.full-height {
  @include full-height;
}

.m-left--x-small {
  margin-left: 0.25rem;
}

.m-right--x-small {
  margin-right: 0.25rem;
}

.m-top--x-small {
  margin-top: 0.25rem;
}

.m-bottom--x-small {
  margin-bottom: 0.25rem;
}

.m--x-small {
  margin: 0.25rem;
}

.m-left--small {
  margin-left: 0.5rem;
}

.m-right--small {
  margin-right: 0.5rem;
}

.m-top--small {
  margin-top: 0.5rem;
}

.m-bottom--small {
  margin-bottom: 0.5rem;
}

.m--small {
  margin: 0.5rem;
}

.m-left--large {
  margin-left: 1rem;
}

.m-right--large {
  margin-right: 1rem;
}

.m-top--large {
  margin-top: 1rem;
}

.m-bottom--large {
  margin-bottom: 1rem;
}

.m-large {
  margin: 1rem;
}

.pointer {
  cursor: pointer;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}
