@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

@import "../../node_modules/bulma/bulma";
@import "common";

body,
html {
  @include full-height;
  @include margin(0px);
  font: $font-stack;
}

#ethereum-ticker {
  @include flex;
  @include full-height;
}

.full-height {
  @include full-height;
}

.m-left--small {
  margin-left: 0.5rem;
}

.m-right--small {
  margin-right: 0.5rem;
}

.m-top--small {
  margin-top: 0.5rem;
}

.m-bottom--small {
  margin-bottom: 0.5rem;
}

.m--small {
  margin: 0.5rem;
}

.m-left--large {
  margin-left: 1rem;
}

.m-right--large {
  margin-right: 1rem;
}

.m-top--large {
  margin-top: 1rem;
}

.m-bottom--large {
  margin-bottom: 1rem;
}

.m-large {
  margin: 1rem;
}

.pointer {
  cursor: pointer;
}
